/* style.css */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Modak');

body {
  background-color: ##6638f0;
  color: black;
  font-family: 'Playfair Display', serif;

}
h1 {
  color: #c93fa8;
  font-family: 'Modak', cursive
}

h2 {
  color: #c93fa8;
  font-family: 'Roboto', sans-serif;
}

a {
  font-size: 20;
  font-family: 'Roboto', sans-serif;
  }

a:hover {
  text-decoration: underline;
  font-size: 22;
}

